@model ReactList

    @if(Model.ReactType == ""){
    <div class="ti-heart" style="position:absolute; margin-top: 7px;"></div>        
    } else{
        if(Model.ReactType == "angry"){
            <div style="background-size: 25px 25px; width: 25px; height:28px;" id="btn-react-click" class="angry-icon1"></div>
        } else if (Model.ReactType == "like"){
            <div style="background-size: 25px 25px; width: 25px; height:28px;" id="btn-react-click" class="like-icon1"></div>
        } else if (Model.ReactType == "love"){
            <div style="background-size: 25px 25px; width: 25px; height:28px;" id="btn-react-click" class="love-icon1">
        </div>
        } else if (Model.ReactType == "sad"){
            <div style="background-size: 25px 25px; width: 25px; height:28px;" id="btn-react-click" class="sad-icon1">
        </div>
        } else if (Model.ReactType == "smiling"){
            <div style="background-size: 25px 25px; width: 25px; height:28px;" id="btn-react-click" class="smiling-icon1">
        </div>
        }
    }           
    <div class="box-list-icons">
        <div id="btn-react-click2" class="like-icon">
            <label>Like</label>
        </div>
        <div id="btn-react-click2" class="love-icon">
            <label>Love</label>
        </div>
        <div id="btn-react-click2" class="smiling-icon">
            <label>Haha</label>
        </div>
        <div id="btn-react-click2" class="sad-icon">
            <label>Sad</label>
        </div>
        <div id="btn-react-click2"class="angry-icon">
            <label>Angry</label>
        </div>
    </div>
<script>
    $("#@Model.PostId").on("click","#btn-react-click2",function () {
		var id = $(this).closest("ul").attr('id');
        var type = $(this).attr('class');
		//alert(type);
	$.ajax({
		url: "@Url.Action("SetReact", "React")",
		data: {
            id: id,
            type: type,
         },
		success: function (jsReturnArgs) {
			$(document).find("#@Model.PostId").find(".@Model.PostId").html(jsReturnArgs);
		}
	});
    $.ajax({
        url: "@Url.Action("GetReactStatus", "React")",
        data: { id: id },
        success: function (jsReturnArgs) {
            $(document).find("#@Model.PostId").find(".@Model.PostId").html(jsReturnArgs);
        }
    });
	});
     $("#@Model.PostId").on("click","#btn-react-click",function () {
		var id = $(this).closest("ul").attr('id');
        var type = "delete"
		//alert(type);
	$.ajax({
		url: "@Url.Action("SetReact", "React")",
		data: {
            id: id,
            type: type,
         },
		success: function (jsReturnArgs) {
			$(document).find("#@Model.PostId").find(".@Model.PostId").html(jsReturnArgs);
		}
	});
    $.ajax({
        url: "@Url.Action("GetReactStatus", "React")",
        data: { id: id },
        success: function (jsReturnArgs) {
            $(document).find("#@Model.PostId").find(".@Model.PostId").html(jsReturnArgs);
        }
    });
	});
</script>