
*.json
*.cache
*.json

obj/Debug/net5.0/project.razor.json
obj/Debug/net5.0/project.razor.json.temp
obj/Debug/net5.0/WetCat.assets.cache
obj/Debug/net5.0/WetCat.csproj.AssemblyReference.cache
obj/Debug/net5.0/WetCat.GeneratedMSBuildEditorConfig.editorconfig
obj/project.assets.json
obj/project.nuget.cache
obj/WetCat.csproj.nuget.dgspec.json
obj/WetCat.csproj.nuget.g.props
obj/WetCat.csproj.nuget.g.targets
bin/Debug/net5.0/WetCat.dll
bin/Debug/net5.0/WetCat.exe
bin/Debug/net5.0/WetCat.pdb
bin/Debug/net5.0/WetCat.runtimeconfig.dev.json
bin/Debug/net5.0/WetCat.StaticWebAssets.xml
bin/Debug/net5.0/WetCat.Views.dll
bin/Debug/net5.0/WetCat.Views.pdb
obj/Debug/net5.0/apphost.exe
obj/Debug/net5.0/Razor/Views/_ViewImports.cshtml.g.cs
obj/Debug/net5.0/Razor/Views/_ViewStart.cshtml.g.cs
obj/Debug/net5.0/Razor/Views/Home/Index.cshtml.g.cs
obj/Debug/net5.0/Razor/Views/Home/Privacy.cshtml.g.cs
obj/Debug/net5.0/Razor/Views/Post/Index.cshtml.g.cs
obj/Debug/net5.0/Razor/Views/Shared/_Layout.cshtml.g.cs
obj/Debug/net5.0/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
obj/Debug/net5.0/Razor/Views/Shared/Error.cshtml.g.cs
obj/Debug/net5.0/ref/WetCat.dll
obj/Debug/net5.0/refint/WetCat.dll
obj/Debug/net5.0/WetCat.assets.cache
obj/Debug/net5.0/WetCat.csproj.CoreCompileInputs.cache
obj/Debug/net5.0/WetCat.csproj.FileListAbsolute.txt
obj/Debug/net5.0/WetCat.dll
obj/Debug/net5.0/WetCat.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net5.0/WetCat.genruntimeconfig.cache
obj/Debug/net5.0/WetCat.pdb
obj/Debug/net5.0/WetCat.TagHelpers.output.cache
obj/Debug/net5.0/WetCat.Views.dll
obj/Debug/net5.0/WetCat.Views.pdb
obj/project.nuget.cache
obj/WetCat.csproj.nuget.dgspec.json
obj/Debug/net5.0/WetCat.assets.cache
obj/Debug/net5.0/WetCat.GeneratedMSBuildEditorConfig.editorconfig
obj/project.nuget.cache
obj/WetCat.csproj.nuget.dgspec.json
obj/Debug/net5.0/project.razor.json
obj/Debug/net5.0/WetCat.assets.cache
obj/Debug/net5.0/WetCat.GeneratedMSBuildEditorConfig.editorconfig
obj/project.nuget.cache
obj/
bin/
.vscode/
.Properties/
obj/WetCat.csproj.nuget.dgspec.json
bin/Debug/net5.0/WetCat.dll
bin/Debug/net5.0/WetCat.pdb
bin/Debug/net5.0/WetCat.Views.dll
bin/Debug/net5.0/WetCat.Views.pdb
obj/Debug/net5.0/ref/WetCat.dll
obj/Debug/net5.0/refint/WetCat.dll
obj/Debug/net5.0/WetCat.dll
obj/Debug/net5.0/WetCat.pdb
obj/Debug/net5.0/WetCat.Views.dll
obj/Debug/net5.0/WetCat.Views.pdb
