@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Wall.cshtml";
}

@model List<Follow>

<div class="widget friend-list stick-widget">
    <h4 class="widget-title">Friends</h4>
    <div id="searchDir"></div>
    <ul id="people-list" class="friendz-list">
        @foreach (Follow fl in Model)
        {
            <li style="position: relative;">
                <figure>
                    <img src="@fl.FollowerUsernameNavigation.AvatarSrc" alt="">
                </figure>
                <div class="friendz-meta" style="width:fit-content;">
                    <a href="time-line.html">@fl.FollowerUsernameNavigation.Nickname</a>
                </div>
                <a href="this is">
                    <button style="position: absolute; right: 4%; top: 20%" class="btn btn-danger">Unfriend</button>
                </a>
            </li>
        }
    </ul>
</div>