@{
    ViewData["Title"] = "Index";
    //Layout = "~/Views/Shared/_Wall.cshtml";
}

@model List<Follow>
<div class="central-meta">

<div class="widget friend-list stick-widget">
    <h4 class="widget-title">Followers</h4>
    <div id="searchDir"></div>
    <ul id="people-list" class="friendz-list">
        @foreach (Follow fl in Model)
        {
            <li style="position: relative; margin-top:3vw; margin-bottom: 3vw;">
                <figure>
                    <img src="@fl.FollowerUsernameNavigation.AvatarSrc" alt="">
                </figure>
                <div class="friendz-meta" style="width:fit-content;">
                    <a href="/Wall/@fl.FollowerUsername/timeline">@fl.FollowerUsernameNavigation.Nickname</a>
                </div>
            </li>
        }
    </ul>
</div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<link rel="stylesheet" href="~/css/main.min.css">
	<link rel="stylesheet" href="~/css/style.css">
	<link rel="stylesheet" href="~/css/color.css">
	<link rel="stylesheet" href="~/css/responsive.css">
	<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
	<script src="~/js/main.min.js"></script>
	<script src="~/js/script.js"></script>
