@model User
@{
	ViewData["Title"] = "Edit profile";
	Layout = "~/Views/Shared/_Wall.cshtml";
}
<div class="central-meta">
	<div class="editing-info">
		<h5 class="f-title"><i class="ti-info-alt"></i> Edit Basic Information</h5>

		<form method="post" asp-action="Edit">
			<input asp-for="Username" hidden />
			<input asp-for="Password" hidden />
			<input asp-for="Role" hidden />
			<input asp-for="AvatarSrc" hidden />
			<input asp-for="BackgroundSrc" hidden />
			<div class="form-group">
				<input type="text" id="input" required="required" asp-for="Nickname" />
				<label class="control-label" for="input">Nickname</label><i class="mtrl-select"></i>
			</div>
			<div class="form-group">
				<input type="text" required="required" asp-for="UserMail" />
				<label class="control-label" for="input"><a href="https://wpkixx.com/cdn-cgi/l/email-protection"
						class="__cf_email__" data-cfemail="4b0e262a22270b">[email&#160;protected]</a></label><i
					class="mtrl-select"></i>
			</div>
			<div class="form-group">
				<input type="text" required="required" asp-for="Phone" />
				<label class="control-label" for="input">Phone No.</label><i class="mtrl-select"></i>
			</div>
			<div class="form-group">
				<input type="date" required="required" asp-for="Birthday" />
				<label class="control-label" for="input">Birthday</label><i class="mtrl-select"></i>
			</div>
			<div class="form-radio">
				@if (Model.Gender == 1)
				{
					<div class="radio">
						<label>
							<input type="radio" checked name="gender" value="Male"><i
							class="check-box"></i>Male
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="gender" value="Female"><i class="check-box"></i>Female
						</label>
					</div>
				}
				else
				{
					<div class="radio">
						<label>
							<input type="radio" name="gender" value="Male"><i class="check-box"></i>Male
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" checked name="gender" value="Female"><i
							class="check-box"></i>Female
						</label>
					</div>
				}

			</div>
			<div class="form-group">
				<textarea rows="4" id="textarea" required="required" asp-for="Quote"></textarea>
				<label class="control-label" for="textarea">Quote</label><i class="mtrl-select"></i>
			</div>
			<div class="submit-btns">
				<button type="button" class="mtr-btn"><span>Cancel</span></button>
				<button type="submit" class="mtr-btn"><span>Update</span></button>
			</div>
		</form>
	</div>
</div>